<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="nav">
      <a href="/ " class="nav-link ">Home</a>
      <div class="nav">
        <a class="nav-link" href="/sign-up">Sign up</a>
        <a class="nav-link" href="/log-in">Log in</a>
      </div>
    </nav>
    <div class="container form-container">
      <h1><%= title %></h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button class="btn-submit">Log In</button>
      </form>
    </div>

</body>
</html>
