<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (errorMessage) { %>
      <p><%= errorMessage %></p>
    <% } %>
    <form action="" method="POST">
      <label for="memberPassword">Enter the secret password</label>
      <input name="memberPassword" placeholder="secret password" type="text" />
      <button class="btn-submit" type="submit">Submit</button>
    </form>
  </body>
</html>
