body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: dollie;
  src: url(dollie-script.ttf);
}

a {
  color: #00B7FF;
}

h1 {
  font: 50px dollie;
}

h1>span {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn-submit {
  background-color: rgb(236, 51, 172);
  color: white;
  padding: 0.5em;
  border-radius: 5px;
}

.btn-submit:hover {
  background-color: rgb(56, 196, 242);
}

.avatar {
  height: 10em;
  width: 10em;
  object-fit: cover;
  border-radius: 50%;
}
